* {
    margin: 0;
    padding: 0
}

body{
    position: relative;
    height: 100vh;
    width: 100vw;
}


.conteiner-head{
    width: 100vw;
    height: 15vh;
    background: #944040;   
    position: relative;
    display: flex;
}

.conteiner-nav {
    width: 100vw;
    height: 6vh;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(15vh - 6vh);
    visibility: hidden;
    
}

.buttons-menu{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: 10px;
    align-items: center;

}

.expand-button {
   position: absolute;
   top: calc(15vh - 6vh);
   left: calc(100% - 4.5vh - 10px);
}

.buttons {
    border: none;
    background: none;
    cursor: pointer;
}

.icons{
    height: 4.5vh;    
}

.container-addList{
    background-color: #D9D9D9;
    width: 90vw;
    height: 80vh;
    max-width: 900px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    visibility: hidden;
}



.container-title, .container-timer{
    height: 13%;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.title{
    background-color: #348D6D;
    height: 100%;
    border: none;
    
}

.container-description{
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.description{
    background-color: #348D6D;
    height: 100%;
    border: none;
    
}

.timer{
    background-color: #348D6D;
    height: 100%;
    border: none;
}

.control{
    display: flex;
    margin-top: 25px; 
    width: 80%;
    justify-content: space-between;
}



input{
    font-size: 1rem;
    outline-color:#15382b;
    text-indent: 30px;
}

textarea{
    font-size: 1rem;
    outline-color:#15382b;
    text-indent: 30px;
}


textarea::placeholder{
    color: rgba(0, 0, 0, 0.39);
    font-size: 1.3rem;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.39);
    font-size: 1.3rem;
    
}
input[type="date"]{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.39);
}

















