* {
    margin: 0;
    padding: 0;
}


.conteiner-head{
    width: 100vw;
    height: 15vh;
    background: #944040;   
    position: relative;
    display: flex;
}

.conteiner-nav {
    width: 100vw;
    height: 6vh;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(15vh - 6vh);
    visibility: hidden;
    
}

.buttons-menu{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: 10px;
    align-items: center;

}

.expand-button {
   position: absolute;
   top: calc(15vh - 6vh);
   left: calc(100% - 4.5vh - 10px);
}

.buttons {
    border: none;
    background: none;
}

.icons{
    height: 4.5vh;    
}

